<nav>
    <% if (typeof nav !== 'undefined') { %>
  <%- nav %>
<% } else { %>
  <!-- fallback navigation -->
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/account/login">Login</a></li>
    <li><a href="/account/register">Register</a></li>
  </ul>
<% } %>

</nav>