@media screen and (min-width: 800px) {
    main{
        grid-template-areas: 
        "section-one section-one section-one section-one section-one section-one"
        "section-two section-two section-two section-three section-three section-three";
    }
    .section-1{
        grid-area: section-one;
    }
    .section-2{
        grid-area: section-two;
    }
    .section-3{
        grid-area: section-three;
    }
    
}