<%# The heading of the view content %>

<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# messages() %>
<section class="classification-page">
  <div class="classification-grid">
    <%- grid %>
  </div>
</section>