<h1><%= title %></h1>
<section class="vehicle-detail-section">
  <%- vehicleDetail %>
</section>
<p><a href="/inv/type/<%= classificationId %>">â† Back to inventory</a></p>

<form action="/wishlist/add" method="POST">
  <input type="hidden" name="inv_id" value="<%= inventory.inv_id %>">
  <button type="submit">Add to Wishlist</button>
</form>


