<!-- views/inventory/management.ejs -->

<%- include('../partials/head', {title: title}) %>

<h1>Account Management</h1>

<!-- Flash messages -->
<% if (messages && messages.length > 0) { %>
  <ul class="flash-messages">
    <% messages.forEach(function(message){ %>
      <li><%= message %></li>
    <% }) %>
  </ul>
<% } %>

<p>You're logged in ✅</p>


<main>
  <h1>Inventory Management</h1>
  <p>Choose an option below:</p>

  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-vehicle">Add New Vehicle</a></li>
  </ul>
</main>

<%- include('../partials/footer') %>
